extends layout

block content
  div(id='page_title')!= page_title
  div(id='page_body')
    div(id='main_menu')
      div(class='menu_divider') Members 
      div(class='menu_item')
        a(href='./create_member_account') Create Account 
      div(class='menu_item')
        a(href='./suspend_member_account') Suspend Account 
      div(class='menu_item')
        a(href='./reset_member_account') Reset Account 
      div(class='menu_divider') Vendors 
      div(class='menu_item')
        a(href='./create_vendor_account') Create Account 
      div(class='menu_item')
        a(href='./suspend_vendor_account') Suspend Account 
      div(class='menu_item')
        a(href='./reset_vendor_account') Reset Account 
