extends layout

block content
  div(id='page_title')= page_title
  div(id='page_body')
    div(class='page_note')!= page_description
    form(id='main_form' name='input' action=post_url method='post')
      table(id='simple_form_table')
        tr
          td(class='form_table_long_title') RETS Web API Client 
          td(class='form_table_value')!= select_widget
      input(class='form_button' type='submit' value='Submit')
      input(class='results_button' type='button' onclick='location.href=\".\"' value='Return')

