extends layout

block content
  div(id='page_title')= page_title
  div(id='page_body')
    div(class='page_note')!= page_description
    form(id='main_form' name='input' action=post_url method='post')
      table(id='form_table')
        tr
          td(class='form_table_title') Client Name
          td(class='form_table_value')
            input(type="text" name="client_name")
          td(class='form_table_description') something familiar for Subscribers
        tr
          td(class='form_table_title') Redirect URI
          td(class='form_table_value')
            input(type="text" name="redirect_uri")
          td(class='form_table_description') where to go after authentication
      input(class='form_button' type='submit' value='Submit')
      input(class='results_button' type='button' onclick='location.href=\".\"' value='Return')

